# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# Firebase
firebase_key.json

# Streamlit Secrets
.streamlit/secrets.toml

# Database
*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db